<?xml version="1.0"?>
<robot name="padding_j5">
  <link name="padding_j5">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
        <mesh filename="file://$(find uni_pal_description)/meshes/Padding_RC10_5.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="Gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
        <mesh filename="file://$(find uni_pal_description)/meshes/Padding_RC10_5.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
  </link>
  <joint name="wrist_2_link - padding_j5" type="fixed">
    <origin xyz="0.0005 0.0 -0.02" rpy="1.57 0.0 3.14" />
    <parent link="wrist_2_link" />
    <child link="padding_j5" />
  </joint>
</robot>