<?xml version="1.0"?>
<robot name="padding_j4">
  <link name="padding_j4">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
        <mesh filename="file://$(find uni_pal_description)/meshes/Padding_RC10_3.stl" scale="1.0 1.0 1.0"/>
        </geometry>
        <material name="Gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
        <mesh filename="file://$(find uni_pal_description)/meshes/Padding_RC10_3.stl" scale="1.0 1.0 1.0"/>
        </geometry>
      </collision>
  </link>
  <joint name="forearm_link - padding_j4" type="fixed">
    <origin xyz="-0.033 0.0 0.03" rpy="0.0 3.14 -1.57" />
    <parent link="forearm_link" />
    <child link="padding_j4" />
  </joint>
</robot>