<?xml version="1.0"?>
<robot name="pallet_right">
  <link name="pallet_right">
      <visual>
        <origin xyz="0.4 0.6 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
        <mesh filename="file://$(find uni_pal_description)/meshes/Paleta_small.stl" scale="0.784 0.984 1.180"/>
        </geometry>
        <material name="Gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.4 0.6 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
        <mesh filename="file://$(find uni_pal_description)/meshes/Paleta_small.stl" scale="0.784 0.984 1.180"/>
        </geometry>
      </collision>
  </link>
  <joint name="world - pallet_right" type="fixed">
    <origin xyz="0.289 -0.65 0.0" rpy="0.0 0.0 0.0" />
    <parent link="world" />
    <child link="pallet_right" />
  </joint>
</robot>