<?xml version="1.0"?>
<robot name="station">
  <link name="station">
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
        <mesh filename="file://$(find uni_pal_description)/meshes/station.stl" scale="10 10 10"/>
        </geometry>
        <material name="Gray">
        <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
        <mesh filename="file://$(find uni_pal_description)/meshes/station.stl" scale="10 10 10"/>
        </geometry>
      </collision>
  </link>
  <joint name="world - station" type="fixed">
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.1415" />
    <parent link="world" />
    <child link="station" />
  </joint>
</robot>